.hw-xmage25 {
    background: #fff;
}
/* nav */
.ximageH .ximage-outn {
    position: relative;
    background: #fff;
}
.ximageH .xnav-shadow1 {
    background-color: white;
}
.ximageH .ximage-outn .x-ximage-com {
    color: #000000;
}
.ximageH .ximage-outn .navul li a {
    color: rgba(0, 0, 0, .6);
}
.ximageH .ximage-outn .x-lang-list li {
    color: #000;
}
.ximageH .ximage-outn .x-lang-list .ximage-en a {
    color: #000;
}
.ximageH .ximage-outn .active {
    border: 0px;
    border-radius: 6px;
    background-color: #F4F4F4;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}
.ximageH .ximage-outn .x-lang-list li img.x-lang-list-home {
    display: block;
}
.ximageH .ximage-outn .x-lang-list li img.x-lang-list-inner {
    display: none;
}
@media (hover: hover) and (pointer: fine) {
    .ximageH .ximage-outn .navul li a:hover {
        color: #000;
    }
}
/* section 1 mob */
@media screen and (max-aspect-ratio:136/100) {
    .ximageH .ximage-outn {
        position: absolute;
    }
    .ximageH .xnav-shadow1 {
        background-color: rgba(0, 0, 0, .3);
    }
    .ximageH .ximage-outn .x-ximage-com {
        color: #000;
    }
    .ximageH .ximage-outn .navul li a {
        color: #a5a5a5;
    }
    .ximageH .ximage-outn .x-lang-list li {
        color: #000;
    }
    .ximageH .ximage-outn .x-lang-list .ximage-en a {
        color: #000;
    }
}

/* nav */

.xmage-2026-box {
    width: 100%;
    color: #fff;
    font-weight: 500;
}
.xmage-2026-box * {
    box-sizing: border-box;
}
.xmage-2026-box .isPc {
    display: block;
}
.xmage-2026-box .isMob {
    display: none;
}
@media screen and (max-aspect-ratio:136/100) {
    .xmage-2026-box .isPc {
        display: none;
    }
    .xmage-2026-box .isMob {
        display: block;
    }
}
.xmage-2026-box .blur-up {
    filter: blur(20px);
    transition: filter .2s;
}

.xmage-2026-box .blur-up.lazyloaded {
    filter: blur(0);
}

.xmage-2026-box picture,
.xmage-2026-box img,
.xmage-2026-box video {
    display: block;
    width: 100%;
    border: 0;
}

.xmage-2026-box svg {
    overflow: visible;
    width: 100%;
    height: 100%;
}

.xmage-2026-box a {
    text-decoration: none;
}


.xmage-2026-box .xmage-2026 .xmage-kv {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.xmage-2026-box .xmage-2026 .xmage-kv-video {
    width: 100%;
    aspect-ratio: 1920 / 1080;
    overflow: hidden;
}
.xmage-2026-box .xmage-2026 .xmage-kv-video video {
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    object-fit: cover;
    margin: -2px 0 0 -2px;
}
.xmage-2026-box .xmage-2026 .xmage-kv-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 13.02083333vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.xmage-2026-box .xmage-2026 .xmage-kv-logo {
    width: 25.78125vw;
}
.xmage-2026-box .xmage-2026 .xmage-kv-logo svg {
    width: 100%;
    height: auto;
}
.xmage-2026-box .xmage-2026 .xmage-kv-word {
    text-align: center;
    transition: opacity 1.2s linear, transform 1.2s cubic-bezier(0.26, 0.67, 0.48, 0.91);
    transform: translateY(6.25vw);
    opacity: 0;
}
.xmage-2026-box .xmage-2026 .xmage-kv.active .xmage-kv-word {
    transform: translateY(0);
    opacity: 1;
}
.xmage-2026-box .xmage-2026 .xmage-kv-name {
    color:#000000;
    font-size:1.45833333vw;
    line-height: 1.25;
    font-weight: 400;
    margin-top: 2.08333333vw;
}
.xmage-2026-box .xmage-2026 .xmage-kv-time {
    color:#000000;
    font-size:1.04166667vw;
    line-height: 1.25;
    font-weight: 400;
    margin-top: 0.83333333vw;
}
@media screen and (max-aspect-ratio:136/100) {
    .xmage-2026-box .xmage-2026 .xmage-kv-video {
        aspect-ratio: 66666666 / 10000000;
        height: 150vw;
    }
    .xmage-2026-box .xmage-2026 .xmage-kv-box {
        top: 19.444444vw;
    }
    .xmage-2026-box .xmage-2026 .xmage-kv-logo {
        width: 51.1111111vw;
    }
    .xmage-2026-box .xmage-2026 .xmage-kv-word {
        transform: translateY(16.66666666vw);
    }
    .xmage-2026-box .xmage-2026 .xmage-kv-name {
        font-size:4.444444vw;
        margin-top: 6.6666666vw;
    }
    .xmage-2026-box .xmage-2026 .xmage-kv-time {
        font-size:3.33333vw;
        margin-top: 2.2222222vw;
    }
}

/* join bottom start */
.xmage-2026-box .xmage-2026 .xmage-join {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    padding: 0 20px;
    background: #ce0e2d;
    transition: opacity 1.2s linear, transform 1.2s cubic-bezier(0.26,0.67,0.48,0.91);
    transform: translateY(8.3333333333vw);
    border-radius: 6px;
    opacity: 0;
    margin: 2.08333333vw 0 0 0;
}
.xmage-2026-box .xmage-2026 .xmage-kv.active .xmage-join {
    transform: translateY(0);
    opacity: 1;
}
.xmage-2026-box .xmage-2026 .xmage-join .jointxt {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    transform: translate3d(0,0,0) scale(1) rotate(0deg);
    transition: 0.5s ease;
    will-change: transform;
}
.xmage-2026-box .xmage-2026 .xmage-join .licon,
.xmage-2026-box .xmage-2026 .xmage-join .ricon {
    position: absolute;
    width: 6px;
    height: 12px;
}
.xmage-2026-box .xmage-2026 .xmage-join .licon {
    top: 10px;
    left: 10px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: translate(-15px, -15px);
    transition: 0.5s ease;
    opacity: 0;
}
.xmage-2026-box .xmage-2026 .xmage-join .ricon {
    bottom: 10px;
    right: 10px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: translate(15px, 15px);
    transition: 0.5s ease;
    opacity: 0;
}
@media (hover: hover) and (pointer: fine) { 
    .xmage-2026-box .xmage-2026 .xmage-join:hover .licon {
        transform: translate(0,0);
        opacity: 1;
    }

    .xmage-2026-box .xmage-2026 .xmage-join:hover .ricon {
        transform: translate(0,0);
        opacity: 1;
    }

    .xmage-2026-box .xmage-2026 .xmage-join:hover .jointxt {
        transform: translate3d(0,0,0) scale(0.857) rotate(0deg);
    }
}
@media screen and (max-aspect-ratio:136/100) {
    .xmage-2026-box .xmage-2026 .xmage-kv .xmage-join {
        width: auto;
        height: 11.1111111vw;
        padding: 0 6.66666666vw;
        border-radius: 0.83333333vw;
        margin: 72.2222222vw 0 0 0;
        transform: translateY(22.22222222vw);
    }
    .xmage-2026-box .xmage-2026 .xmage-kv .jointxt {
        font-size: 3.3333333vw;
    }
}
/* join bottom end */